{% extends "layout.njk"%}

{% import "parts/cards.njk" as card %}

{% block content %}

    {% call card.render('Detalhes', 'users-dashboard container') %}

    <form id="form-update" method="POST" action="/users?_method=PUT">
        <div class="fields">
            {% include 'users/fields.njk' %}

            <input type="hidden" name="id" value="{{ user.id }}">
        </div>
    </form>

    <div class="submit-buttons-container">
        <button form="form-update" type="submit" class="button edit">Atualizar</button>
        <button form="form-delete" type="submit" class="button delete">Deletar</button>
    </div>

    <form id="form-delete" action="/users?_method=DELETE" method="post">
        <input type="hidden" name="id" value="{{ user.id }}">
    </form>

    {% endcall %}
{% endblock content %}

{% block scripts %}
    <script>
        const formDelete = document.querySelector('#form-delete')

        formDelete.addEventListener("submit", function (event) {
            const confirmation = confirm("Tem certeza que deseja excluir sua conta? Essa operação é irreversível.")

            if (!confirmation) {
                event.preventDefault()
            }
        })
    </script>
{% endblock %}