<div class="item">
    <div>Categoria</div>
    <select name="category_id">

        <option value="" selected disabled invalid>
            selecione sua categoria...
        </option>
        {% for category in categories %}
        <option value="{{ category.id }}" {% if product.category_id == category.id %} selected {% endif %}
        >
            {{ category.name }}
        </option>
        {% endfor %}
    </select>
</div>

<div class="item">
    <div>Nome</div>
    <input 
    type="text" 
    name="name" 
    placeholder="digite o titulo do anúncio" 
    value="{{ product.name }}">
</div>

<div class="item">
    <div>Descrição</div>

    <textarea name="description" cols="30" rows="10">{{ product.description }}</textarea>
</div>

{# campo de foto #}

<div class="item">
    <div>Valor</div>
    <input 
    type="text" 
    name="price" 
    placeholder="digite o preço do produto" 
    value="{{ product.price }}"
    onkeydown= "Mask.apply(this, 'Mask.format')"
    >

    {% if product.price %}
        <input type="hidden" name="old_price" value="{{ product.old_price }}">
    {% endif %}
    
</div>

<div class="item">
    <div>Quantidade</div>
    <input 
    type="number" 
    name="quantity" 
    placeholder="Estoque disponível" 
    value="{{ product.quantity }}"
    >
</div>


{% if product.status %}
<div class="item">
    <div>Disponivel? </div>

    <span>
        <input 
        type="radio" 
        name="status" 
        value="1" 
        id="1" 
        {% if product.status == '1' %}
            checked
        {% endif %}
        >
        <label for="1">Sim</label>
    </span>

    <span>
        <input 
        type="radio" 
        name="status" 
        value="0"
        id="0"
        {% if product.status == '0' %}
            checked
        {% endif %}
        ><label for="0">Não</label>
    </span>
</div>
{% endif %}
